@mixin main {
	.focus-rotate {
		transition: transform 0.2s ease;
		&.focused {
			transform: rotate(180deg);
		}
	}

	@keyframes shake {
		0% {
			transform: translateY(1px);
			rotate: 0deg;
		}
		25% {
			rotate: 10deg;
		}
		50% {
			transform: translateY(0px);
			rotate: 0deg;
		}
		75% {
			rotate: -10deg;
		}
		100% {
			transform: translateY(1px);
			rotate: 0deg;
		}
	}

	.hover-text {
		opacity: 0.7;
		transition: opacity 0.4s;
		&:hover {
			opacity: 1;
		}
	}

	.hover {
		&::after {
			content: '';

			pointer-events: none;

			position: absolute;
			top: 0;
			left: 0;

			border-radius: inherit;

			transition: background-color 0.5s;
			background-color: rgba(#ffffff, 0);

			width: 100%;
			height: 100%;
		}

		&:hover {
			&::after {
				background-color: rgba(#ffffff, 0.08);
			}
		}
		&.shake:hover {
			& > .icon {
				animation-name: shake;
				animation-duration: 0.5s;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
			}
		}
	}
}

@mixin outline-hover($color) {
	&.hover {
		transition: outline 0.5s;
		&:hover {
			outline-color: rgba($color, 1);
			outline-width: 4;
		}
	}
}

@mixin background-focus($color) {
	&.focused {
		&::after {
			content: '';

			pointer-events: none;

			position: absolute;
			top: 0;
			left: 0;

			border-radius: inherit;

			transition: background-color 0.5s;
			background-color: rgba(#ffffff, 0.16);

			width: 100%;
			height: 100%;
		}
	}
}

@mixin outline-focus($color) {
	transition: outline 0.5s;
	&.focused {
		outline-color: rgba($color, 1);
		outline-width: 4;
	}
}
