@mixin main {
	.focus-rotate {
		transition: transform 0.2s ease;
		&.focused {
			transform: rotate(180deg);
		}
	}

	.focus-icon-jump {
		animation: jump 0.5s ease-in infinite;
		&:focus > * {
			animation: jump 0.5s ease-in infinite;
		}
	}

	.hover {
		&::after {
			content: '';

			pointer-events: none;

			position: absolute;
			top: 0;
			left: 0;

			border-radius: inherit;

			transition: background-color 0.5s;
			background-color: rgba(#ffffff, 0);

			width: 100%;
			height: 100%;
		}

		&:hover {
			&::after {
				background-color: rgba(#ffffff, 0.08);
			}
		}
	}
}

@mixin outline-hover($color) {
	&.hover {
		transition: outline 0.5s;
		&:hover {
			outline-color: rgba($color, 1);
			outline-width: 4;
		}
	}
}

@mixin background-focus($color) {
	&.focused {
		&::after {
			content: '';

			pointer-events: none;

			position: absolute;
			top: 0;
			left: 0;

			border-radius: inherit;

			transition: background-color 0.5s;
			background-color: rgba(#ffffff, 0.16);

			width: 100%;
			height: 100%;
		}
	}
}

@mixin outline-focus($color) {
	transition: outline 0.5s;
	&.focused {
		outline-color: rgba($color, 1);
		outline-width: 4;
	}
}
