@use '../palette';
@use 'sass:map';

@mixin main {
	& {
		color: #{map.get(palette.$colors, 'text')};
		background: #{map.get(palette.$colors, 'bg')};
	}

	.bg-layer {
		position: absolute;
		width: 100%;
		height: 100%;

		top: 0;
		left: 0;

		border-radius: inherit;

		&.state {
			transition: opacity 0.25s;

			opacity: 0;
			&.hover:hover {
				opacity: 0.14;
			}

			&.focus {
				opacity: 0.25;
			}
		}
	}

	@each $index, $color in palette.$colors {
		.text-#{$index} {
			color: $color;
		}

		@for $i from 0 through 10 {
			.text-#{$index}-alpha-#{$i*10} {
				color: rgba($color, calc($i / 10));
			}
		}

		.border-#{$index} {
			border-color: $color;
			border-style: solid;
			border-width: 1px;
		}

		@for $i from 0 through 10 {
			.border-#{$index}-alpha-#{$i*10} {
				border-color: rgba($color, calc($i / 10));
				border-style: solid;
				border-width: 1px;
			}
		}

		.bg-#{$index} {
			background: $color;
		}

		@for $i from 0 through 10 {
			.bg-#{$index}-alpha-#{$i*10} {
				background: rgba($color, calc($i / 10));
			}
		}
	}
}
